# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
/seo

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*.zip
!versao-1.0.1-BC-static.zip

# Local env files
.env
.env.*
!.env.example
